<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>AngularJS Tetris</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="">

</head>
<body ng-keydown="OnKeyDown($event.which);" ng-controller="gameController" style="background-color:{{ getGameColor() }}">

    <div class="preloading">
        <img src="assets/images/TetrisAnimated.gif" style="width:300px" />
        <h1>... loading ...</h1>
    </div>

    <div class="container">
        <div class="row">
            <div>

                <a href="https://github.com/TheoKand" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

                <div class="dropdown">
                    <button ng-click="startGame()" type="button" class="btn btn-sm btn-success" id="btnStart">{{ GameState.startButtonText }}</button>
                    <button class="btn btn-sm btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                        More
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#InfoModal" id="btnInfo">Info</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#InfoHighscores">Highscores</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-class="{ 'disabled': !GameState.running && !GameState.paused }"><a href="#" ng-click="SaveGame()">Save Game</a></li>
                        <li><a href="#" ng-click="RestoreGame()">Restore Game</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="SetMusic(!(GetMusic()))">Music : {{ GetMusic() ? "OFF" : "ON"}}</a></li>
                        <li><a href="#" ng-click="SetSoundFX(!(GetSoundFX()))">Sound Effects : {{ GetSoundFX() ? "OFF" : "ON"}}</a></li>
                    </ul>
                </div>

                <div class="hidden-xs text-center" style="float:right">
                    <h2 style="display: inline; color:white; text-shadow: 1px 1px 3px black;">AngularJS Tetris</h2>
                    <br /><small>by <a href="https://github.com/TheoKand">Theo Kandiliotis</a></small>
                </div>

                <div class="visible-xs text-center" style="float:right">
                    <h4 style="display: inline; color:white; text-shadow: 1px 1px 3px gray;">AngularJS Tetris</h4>
                </div>

                <br style="clear:both" />
            </div>

            <div class="text-center">

                <div class="splash" ng-style="!GameState.running ? { 'display':'block'} : { 'display': 'none' }">
                    <img src="assets/images/logo.png" />
                </div>

                <div id="Game">

                    <div id="GameInfo">
                        Score: <b style="font-size:14px" class="GameScoreValue">{{GameState.score}}</b><br />
                        Level: <b>{{GameState.level}}</b><br />
                        Next:
                        <div ng-repeat="row in GameState.nextTetrominoSquares track by $id($index)">
                            <div ng-repeat="col in GameState.nextTetrominoSquares[$index] track by $id($index)" class="SmallSquare" style="background-color:{{ getTetrominoColor($parent.$index,$index) }}">
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="row in GameState.board track by $id($index)">
                        <div ng-repeat="col in GameState.board[$index] track by $id($index)" class="{{ getSquareCssClass($parent.$index,$index) }}" style="z-index:1;background-color:{{ getSquareColor($parent.$index,$index) }}">
                        </div>
                    </div>
                </div>

                <div id="TouchScreenController">

                    <div style="width:100%;height:50px;border:1px solid black" ng-click="OnKeyDown(38)">

                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>

                    </div>

                    <div style="float:left;width:50%;height:50px;border-right:1px solid black;border-left:1px solid black;" ng-click="OnKeyDown(37)">

                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>

                    </div>

                    <div style="float:left;width:50%;height:50px;border-right:1px solid black;">

                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" ng-click="OnKeyDown(39)"></span>

                    </div>

                    <div style="width:100%;height:50px;border:1px solid black;clear:both;">

                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="OnKeyDown(40)"></span>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- information area -->
    <div class="modal fade" id="InfoModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">AngularJS Tetris <small>by <a href="https://github.com/TheoKand">Theo Kandiliotis</a></small></h2>
                </div>
                <div class="modal-body">

                    An original AngularJS version of the most popular video game ever.

                    <h4>Control</h4>
                    <p>Use the arrow keys LEFT, RIGHT to move the tetromino, UP to rotate and DOWN to accelarate. If you are using a mobile device, a virtual on-screen keyboard will appear.</p>

                    <h4>Source code</h4>

                    <p>The full source code is available for download on my Github account. The project was created with Microsoft Visual Studio 2015 on September 2017, using AngularJS, Bootstrap 3.3.7, JQuery, C#, WebAPI, Entity Framework. </p>
                    <p><a class="btn btn-default" href="https://github.com/TheoKand/AngularTetris">Browse &raquo;</a></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>

    <!-- highscores area -->
    <div class="modal fade" id="InfoHighscores" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Highscores </h2>
                </div>
                <div class="modal-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="highscore in highscores track by $index">
                                <td>{{$index +1}}</td>
                                <td>{{highscore.Name}}</td>
                                <td>{{highscore.Score}}</td>
                                <td>{{highscore.DateCreated | date : short}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <img src="assets/images/PleaseWait.gif" ng-style="PleaseWait_GetHighscores ? { 'display':'block'} : { 'display': 'none' }" />

                    You must score {{highscores[highscores.length-1].Score}} or more to get in the highscores!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>

    <!-- gameover area -->
    <div class="modal fade" id="InfoGameover" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Game Over!</h2>
                </div>
                <div class="modal-body">

                    <p>
                        <b>Your score is {{GameState.score}}</b>
                    </p>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Score
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="highscore in highscores track by $index">
                                <td>{{$index +1}}</td>
                                <td>{{highscore.Name}}</td>
                                <td>{{highscore.Score}}</td>
                                <td>{{highscore.DateCreated | date : short}}</td>
                            </tr>
                        </tbody>
                    </table>



                    <div ng-style="GameState.IsHighscore ? { 'display':'block'} : { 'display': 'none' }">
                        Please enter your name: <input id="txtName" type="text" />
                        <button ng-click="saveHighscore()" type="button" id="btnSaveHighscore" class="btn btn-sm btn-success">SAVE</button> <img src="assets/images/PleaseWait.gif" style="height:50px" ng-style="PleaseWait_SaveHighscores ? { 'display':'block'} : { 'display': 'none' }" />

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- generic modal area. Used whenever we want to show a modal message in our SPA -->
    <div class="modal fade" id="InfoGeneric" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">{{ GenericModal.Title }}</h2>
                </div>
                <div class="modal-body">
                    <p>
                        {{ GenericModal.Text }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="assets/css/Site.css" />

    <!-- dependencies -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <script src="assets/scripts/jquery-1.10.2.min.js"></script>
    <script src="assets/scripts/jquery-ui.min.js"></script>
    <script src="assets/scripts/angular.min.js"></script>
    <script src="assets/scripts/bootstrap.min.js"></script>

    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->

    <!-- include angular app scripts-->
    <script src="app.js"></script>
    <script src="models/tetromino.js"></script>
    <script src="models/game.js"></script>
    <script src="services/highscoreService.js"></script>
    <script src="services/soundEffectsService.js"></script>
    <script src="controllers/gameController.js"></script>


</body>
</html>