<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>AngularJS Tetris</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controllers/gameController.js"></script>
    <script src="controllers/highscoresController.js"></script>

    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/Content/Site.css" />

</head>
<body ng-controller="gameController" style="background-color:{{ getGameColor() }}">

    <div class="container" >
        <div class="row">
            <div class="col-md-12 text-center">

                <button ng-click="startGame()" type="button" class="btn btn-info" id="btnStart">{{startButtonText}}</button><br />

                <div id="Game" >
                    <div id="GameInfo">
                        Score: <b>{{score}}</b><br />
                        Level: <b>{{level}}</b><br />
                        Next:
                        <div ng-repeat="row in nextTetrominoSquares track by $id($index)">
                            <div ng-repeat="col in nextTetrominoSquares[$index] track by $id($index)" class="SmallSquare" style="background-color:{{ getTetrominoColor($parent.$index,$index) }}">
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="row in board track by $id($index)">
                        <div ng-repeat="col in board[$index] track by $id($index)" class="Square" style="background-color:{{ getSquareColor($parent.$index,$index) }}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>