body {
    padding-top: 20px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0 !important;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    float:left;
}

#Game {
    background-color: white;
    width: 450px;
    height: 800px;
    box-shadow: 5px 5px 2px grey;
}

.blur {
    background-color: black !important;
    opacity: 0.5;

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#GameInfo {
    position: absolute;
    padding: 3px;
    width: 50px;
}

#Next {
    float: left;
    width: 50px;
}

.Square {
    width: 45px;
    height: 40px;
    margin: 0px;
    float: left;
    border: 0;
}

.SmallSquare {
    width: 12px;
    height: 15px;
    margin: 0px;
    float: left;
    border: 0;
}

#TouchScreenController {
    display: none;
}



@media (max-width: 768px) {

    html, body {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }


    body {
        padding-top: 5px;
    }


    .container {
        padding: 0;
        margin: 0;
    }

    #Game {
        width: 250px;
        height: 400px;
    }

    .Square {
        width: 25px;
        height: 20px;
    }

    #TouchScreenController {
        margin-top: 8px;
        width: 250px;
        display: block;
        font-size: xx-large;
    }

    .glyphicon {
        margin-top: 8px;
    }
}
