body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0 !important;
}

@media (max-width: 560px) {
    .container {
        padding: 2px;
        margin: 2px;
    }

    .panel-body {
        padding: 1;
    }
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Game {
    background-color:white;
    width: 395px;
    height:780px;
    box-shadow: 5px 5px 2px grey;
}

#GameInfo {
    position:absolute;
    padding:3px;
    width:60px;
}

#Next {
    float:left;
    width:50px;
}

.Square {
    width: 39.5px;
    height: 39px;
    margin: 0px;
    float: left;
    border:0;
}

.SmallSquare {
    width: 15px;
    height: 15px;
    margin: 0px;
    float: left;
    border:0;
}
