body {
    padding-top: 20px;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.no-padding {
    padding: 0 !important;
}

.container {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.dropdown {
    float: left;
}

#Game {
    background-color: white;
    width: 450px;
    height: 760px;
    box-shadow: 5px 5px 2px grey;
}

.splash {
    position: absolute;
    z-index: 1;
    width: 450px;
    height: 761px;
}

div.preloading {
    background: #FFFCE9;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.blur {
    background-color: black !important;
    opacity: 0.5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#GameInfo {
    position: absolute;
    padding: 3px;
    width: 50px;
    z-index: 0;
}

#Next {
    float: left;
    width: 50px;
}

.Square {
    width: 45px;
    height: 38px;
    margin: 0px;
    float: left;
    border: 0;
}

.TetrominoSquare {
    border: 1px solid black;
    box-shadow: inset -1px 2px 4px white;
}

.SolidSquare {
    border: 1px solid darkgray;
    box-shadow: inset -1px 2px 4px white;
}

.SmallSquare {
    width: 12px;
    height: 15px;
    margin: 0px;
    float: left;
    border: 0;
}

#TouchScreenController {
    display: none;
}

.glyphicon-spin {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

/* for laptops and small desktop screens */
@media (max-height: 800px) {

    #Game {
        width: 250px;
        height: 500px;
    }
    .splash {
        width: 250px;
        height: 500px;
    }


    .Square {
        width: 25px;
        height: 25px;
    }
}

/* for mobiles,tablets */
@media (max-width: 768px) {

    html, body {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }


    body {
        padding-top: 5px;
    }


    .container {
        padding: 0;
        margin: 0;
    }

    #Game {
        width: 250px;
        height: 360px;
    }

    .splash {
        width: 250px;
        height: 360px;
    }

    .Square {
        width: 25px;
        height: 18px;
    }

    #TouchScreenController {
        margin-top: 8px;
        width: 250px;
        display: block;
        font-size: xx-large;
    }

    .glyphicon {
        margin-top: 8px;
    }
}
